:root{
    --color-background: #F0F0F7;
    --color-primary-lighter: #ffffff;
    --color-primary-light: #9e9e9e;
    --color-primary: #141414;
    --color-secundary: #ffd600;
    --color-secundary-dark: #dab500;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #c7c7c7;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    
    font-size: 37%;
}
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html, body, #root{
        min-height: 100%;
    }
    
    body{
        background: var(--color-primary);
    }
    
    #root{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    body, input, button, textarea{
        font: 500 1.6rem Ubuntu;
        
    }
    
    
    .container{
        width: 90vw;
        max-width: 700px;
    }

    #root {
        min-height: calc(100vh - var(--bodyPaddingTop));
        display: flex;
        flex-direction: column;
    }
    
    @media (min-width: 700px){
        :root{
            font-size: 40%;
        }
    }